<div class="container mt-5">
  <div class="card mx-auto border-0">
    <h2 class="card-title text-white">Projects</h2>
    <p class="card-body text-white">Here are some of the projects I've worked on:</p>
  </div>
  <div class="list-group list-group-flush">

    <a href="https://github.com/jecielrb/Capstone2023" target="_blank" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Penguino - 2023</h5>
      </div>
      <p class="mb-1">Your friendly neighbourhood Penguin companion. Penguino is an Android mobile controlled mini robot built with Arduino, this project is for our Capstone 2023. </p>
    </a>

    <a href="https://github.com/jecielrb/police-phonecases-hub" target="_blank" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Police's Phonecase Hub - 2023</h5>
      </div>
      <p class="mb-1">Spring REST API microservice with integrated Angular front-end.
        Collects, stores, and presents comprehensive data for polices and their associated phone cases.</p>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">JARVIS - 2023</h5>
      </div>
      <p class="mb-1">iOS Mobile Chatbot companion. Perfect as a pocket AI assistant for iOS users</p>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Jeciel Map - 2023</h5>
      </div>
      <p class="mb-1">iOS Mobile GPS, direction assistance for drivers with iOS phones.</p>
    </a>

    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> - 2023</h5>
      </div>
      <p class="mb-1">iOS Swift Mobile Chatbot companion. Perfect as a pocket AI assistant for iOS users</p>
    </a>
    
  </div>
</div>
